<div>
  <span ng-show="hasChildren(c)">
  <a href="" class="icon" ng-click="open(c)" ng-hide="c._open">
    <span class="glyphicon glyphicon-plus-sign"></span>
  </a>
  <a href="" class="icon" ng-click="close(c)" ng-show="c._open">
    <span class="glyphicon glyphicon-minus-sign"></span>
  </a>
  </span>
  <span ng-hide="hasChildren(c)">
    <a class="icon"><span class="glyphicon glyphicon-record"></span></a>
  </span>
  <a href="" class="title" ng-click="show(c)">{{c.did.unittitle}}</a>
  <ul class="nav" ng-show="c._open">
    <li ng-repeat="c in c.c01_asArray" ng-include="'partials/tree_item.html'"></li>
    <li ng-repeat="c in c.c02_asArray" ng-include="'partials/tree_item.html'"></li>
    <li ng-repeat="c in c.c03_asArray" ng-include="'partials/tree_item.html'"></li>
    <li ng-repeat="c in c.c04_asArray" ng-include="'partials/tree_item.html'"></li>
    <li ng-repeat="c in c.c05_asArray" ng-include="'partials/tree_item.html'"></li>
    <li ng-repeat="c in c.c06_asArray" ng-include="'partials/tree_item.html'"></li>
    <li ng-repeat="c in c.c07_asArray" ng-include="'partials/tree_item.html'"></li>
    <li ng-repeat="c in c.c08_asArray" ng-include="'partials/tree_item.html'"></li>
    <li ng-repeat="c in c.c09_asArray" ng-include="'partials/tree_item.html'"></li>
    <li ng-repeat="c in c.c10_asArray" ng-include="'partials/tree_item.html'"></li>
    <li ng-repeat="c in c.c11_asArray" ng-include="'partials/tree_item.html'"></li>
    <li ng-repeat="c in c.c12_asArray" ng-include="'partials/tree_item.html'"></li>
  </ul>
</div>
